services:
  orderapi:
    container_name: orderapi
    build:
      context: .
      dockerfile: src/OrderApi/OrderApi.WebApi/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__OrderDbContext: "Host=postgres;Port=5432;Database=OrderApiDb;Username=postgres;Password=postgres"
    restart: unless-stopped
  
  postgres:
    container_name: orderapi-postgres
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: OrderApiDb
    ports:
      - "5435:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres-data: